.charitty-container {
    // margin-bottom: 100px;
    width: 95%;
    margin: auto;
    background: #0a0a0a;
    // min-height: 580px;
}
.charitty-items-wrap {
    // margin-bottom: 100px;
}
.charitty-headler {
    width: 95%;
    margin: auto;
    font-family: Sharp Grotesk Bold 12;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    padding-top: 103px;
}
.charitty-headler span {
    color: #7FEFCF;
}
.charitty-content {

}
.charitty-items-wrap {

    width: 64%;
    margin: 78px auto;
}
.charitty-item {
    display: flex;
    align-items: center;
    padding: 35px;
}

.charitty-item-top {
    border-bottom: 0.5px solid rgba($color: white, $alpha: 0.15);
}
.charitty-item-bottom {
    border-top: 0.5px solid rgba($color: white, $alpha: 0.15);
}
.charitty-item-icon {
    width: 35%;
    display: flex;
    justify-content: center;
}
.charitty-item-icon img {

}
.charitty-item-text {
    font-family: Favorit;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #D1D1D1;
}
.charitty-button-wrap {
    text-align: center;
    position: relative;
    top: 35px;
}
.charitty-button-wrap button {
    background: #417EDB;
    width: 302px;
    height: 70px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-family: Favorit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media(max-width:1300px) {
    .charitty-items-wrap {
        width: 85%;
    }
}
@media(max-width:950px) {
    .charitty-items-wrap {
        width: 95%;
        margin-top: 20px;
    }
    .charitty-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        // align-items: center;
        // padding: 35px;
    }
    .charitty-item-icon {
    display: block;
    margin-bottom: 22px;
    }
    .charitty-headler {
        font-size: 29px;
        line-height: 37px;
        padding-top: 72px; 
    }
    .charitty-button-wrap button {
        width: 240px;
        height: 54px;
    }
    .charitty-button-wrap {
        top: 27px;
    }
}