@font-face {
    font-family: Favorit;
    font-weight: 300px;
    src: url("../Fonts/favorit_light-webfont.woff");
}
@font-face {
    font-family: Favorit;
    font-weight: 300;
    src: url("../Fonts/favorit_light-webfont.woff2");
}
@font-face {
    font-family: SharpGroteskBold;
    font-weight: 700;
    src: url("../Fonts/sharpgroteskbold12-regular-webfont.woff");
}
@font-face {
    font-family: SharpGroteskBold;
    font-weight: 700;
    src: url("../Fonts/sharpgroteskbold12-regular-webfont.woff2");
}
