footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.footer-content {
    padding-top: 125px;
    padding-bottom: 90px;
    display: flex;
    background-color: $color-background-footer;
}
.reference {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    width: 50%;
}
.reference-saludo, .reference-talent {
    font-size: 36px;
    line-height: 46px;
    color: $color-text;
    text-transform: uppercase;
    font-family: SharpGroteskBold;
    font-style: normal;
    font-weight: 700;
}
.reference-list {
  display: flex;
  flex-direction: column;
  height: 119px;
  a {
    margin: auto auto auto 0;
    color: $color-text;
    text-decoration: none;
    font-family: Favorit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
}

.talent {
    width: 42%;
    display: flex;
    justify-content: space-around;
}
.talent-text {
    color: $color-text;
    font-family: Favorit;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
}
.talent-button {

}
.talent-button-wrap {
    // margin: auto;
    width: 149px;
    height: 33px;
}


.talent-button-item {

    text-transform: uppercase;
    
    color: $color-background-footer;
    font-family: Favorit;
    font-size: 10px;
    line-height: 33px;
    text-decoration: none;
    position: absolute;
    background: linear-gradient(180deg, $color-button-green 0%, #69dbc3 100%);
    outline: none;
    text-align: center;
    border-radius: 100px;
    width: 149px;
    height: 33px;
}

.footer-links {
    background-color: $color-background;
    height: 82px;
    display: flex;
}
.rights {
    width: 52%;
    display: flex;
    align-items: center;
}
.rights-text-wrap {
    margin-left: 20%;
}
.social-network {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.network-links {
    width: 94px;
    display: flex;
    justify-content: space-between;
}
.network-text, .rights-text-wrap {
    font-family: Favorit;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    color: $color-text;
}
.network-text {
    margin-right: 20%;
}
@media(max-width: 1100px) {
    .footer-content {
        flex-direction: column;
    }
}