.user-menu-wrap {
    position: absolute;
    top: 80px;
    width: 320px;
    height: 160px;
    right: 0;
    background-color: $color-background;
}
.user-menu {
    width: 82%;
    margin: auto;
}
.signup-wrap {
    margin-left: calc(50% - 25px);
    margin-top: 33px;
    margin-bottom: 27px;
}
.signup {
    color: $color-button-green;
}

.user-hr {
    height: 1px;
    background-color: rgba($color: $color-text, $alpha: 0.3);
    border: none;
}
.login-wrap {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: calc(50% - 20px);
}
.login {
    color: $color-text;
}
.user-links {
    text-decoration: none;
    font-family: Favorit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
@media (max-width: 500px) {
    .user-menu-wrap {
        top: 68px;
    }
}
