$color-button-green: #7fefcf;
$color-button-blue: #417EDB;
$color-background: #181818;
$color-background-content: #0a0a0a;
$color-background-header: #000;
$color-background-footer: #222;
$color-text: white;
$color-button-blue-hover: #0059a8;
$color-button-green-hover: #49efcf;
$color-text-grey: #D1D1D1;